/* Tiny reset thingy */
body,
html {
	scroll-behavior: smooth;
	background: black;
}

@font-face {
	font-family: "BebasNeue";
	src: url("fonts/BebasNeue-Regular.otf");
}
@font-face {
	font-family: "Overpass";
	src: url("fonts/overpass-regular.otf");
}
@font-face {
	font-family: "OverpassBold";
	src: url("fonts/overpass-bold.otf");
}

/* fonts */
.bebas {
	font-family: "BebasNeue";
}

.overpass {
	font-family: "Overpass";
}

.overpassBold {
	font-family: "OverpassBold";
	font-weight: bold;
}

/* 
font-family: 'Gochi Hand', cursive;
font-family: 'Srisakdi', cursive;
font-family: 'Cinzel', serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Yellowtail', cursive;
*/

.gloriaFont {
	font-family: "Great Vibes", cursive;
}

.title {
	font-size: 56px;
	font-family: "BebasNeue";
	color: white;
}

@media (max-width: 576px) {
	#main-nav .container .navbar-brand span {
		vertical-align: middle;
	}

	nav#main-nav {
		background-color: rgba(29, 29, 29, 0.95);
	}

	nav#main-nav .container {
		padding: 0px;
		font-size: 22px;
	}

	nav#main-nav .container .navbar-brand {
		font-size: 25px;
	}

	nav#main-nav .container .navbar-brand-logo {
		width: 50px;
		height: 50px;
	}
}

@media (min-width: 576px) {
	#main-nav {
		background-color: transparent;
		width: 100%;
		transition: 0.8s;
	}

	#main-nav .container {
		padding: 25px;
		font-size: 30px;
		transition: 0.5s;
	}

	#main-nav .container .navbar-brand {
		font-size: 46px;
		transition: 0.5s;
	}

	#main-nav .container .navbar-brand-logo {
		width: 75px;
		height: 75px;
		transition: 0.5s;
	}

	nav.shrink#main-nav {
		background-color: rgba(29, 29, 29, 0.95);
	}

	nav.shrink#main-nav .container {
		padding: 0px;
		font-size: 22px;
	}

	nav.shrink#main-nav .container .navbar-brand {
		font-size: 25px;
	}

	nav.shrink#main-nav .container .navbar-brand-logo {
		width: 50px;
		height: 50px;
	}
}

.parallax {
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}

.landing {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-shadow: 0 0 5px #000;
	overflow: hidden;
}

.landing .d-arrow.visible {
	bottom: -25%;
}

.landing .d-arrow {
	text-align: center;
	color: white;

	bottom: -50%;
	display: block;
	left: 50%;
	margin-left: -50px;
	position: absolute;

	font-size: 40px;

	height: 100px;
	line-height: 100px;
	width: 100px;

	-webkit-animation: top 4s infinite;
	-moz-animation: top 4s infinite;
	-o-animation: top 4s infinite;
	animation: top 4s infinite;

	-webkit-transition: bottom 1s ease;
	-moz-transition: bottom 1s ease;
	-o-transition: bottom 1s ease;
	transition: bottom 1s ease;
}

.bounce {
	position: fixed;
	left: 50%;
	bottom: 50%;
	margin-top: 0px;
	margin-left: -25px;
	padding-bottom: 110px;
	height: 50px;
	width: 50px;

	-webkit-animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
	0% {
		bottom: 5px;
	}
	25%,
	75% {
		bottom: 15px;
	}
	50% {
		bottom: 20px;
	}
	100% {
		bottom: 0;
	}
}

.bg1 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("img/bg1.jpg");
}

.bg2 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url("img/bg2.jpg");
}

/* news carousel */
#news-carousel {
	/* max-width: 1000px; */
	min-width: 100%;
}

#news-carousel .carousel-inner .carousel-item {
	max-height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#news-carousel .carousel-inner .carousel-item .img-fluid {
	object-fit: cover;
	width: 100%;
	max-height: 500px;
}

#news-carousel .carousel-indicators {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	margin-left: 0%;
	margin-right: 0%;
}

#news-carousel .carousel-inner .carousel-item .carousel-caption {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	position: absolute;
	right: 0%;
	bottom: 39px;
	left: 0%;
	z-index: 10;
}

#news-carousel
	.carousel-inner
	.carousel-item
	.carousel-caption
	.news-description {
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow-y: hidden;
	font-family: "Overpass";
}

#news-carousel .carousel-inner .carousel-item .carousel-caption .news-title {
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow-y: hidden;
	font-family: "BebasNeue";
	font-size: 36px;
}

@media (max-width: 576px) {
	#news-carousel .carousel-inner .carousel-item .carousel-caption {
		bottom: 0px;
	}

	#news-carousel .carousel-inner .carousel-item .carousel-caption .news-title {
		font-size: 22px;
	}

	#news-carousel .carousel-indicators {
		display: none;
	}
}

#about-us {
	height: 100%;
	background-color: #616161;
	color: white;
}

#about-us i {
	font-size: 120px;
	color: #e0e0e0;
}

#about-us .service-title {
	font-size: 32px;
	font-family: "Yellowtail", cursive;
}

#about-us .service-description {
	font-family: "Overpass";
}

#gallery {
	color: white;
	background-color: #1b1b1b;
}

#quotes {
	color: white;
	height: 100%;
}

#quotes .container {
	padding-top: 50px;
	padding-bottom: 50px;
}

#quotes #quote-carousel .fas {
	font-size: 100px;
	opacity: 0.2;
}

#quotes #quote-carousel .quote-text {
	font-family: "Overpass";
}

#quotes #quote-carousel .gloriaFont {
	font-size: 42px;
}

/* Gallery */
#gallery .container {
	padding-top: 30px;
}

#gallery .thumb {
	margin-bottom: 30px;
}

#gallery img.zoom {
	width: 100%;
	height: 200px;
	border-radius: 5px;
	object-fit: cover;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}

#gallery .transition {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
#gallery .modal-header {
	border-bottom: none;
}
#gallery .modal-title {
	color: #000;
}
#gallery .modal-footer {
	display: none;
}

#events {
	background-color: #525252;
}

#events .container {
	padding-top: 40px;
	padding-bottom: 40px;
}

#events .container #calendar-large .fc-toolbar,
#events .container #calendar-small .fc-toolbar {
	color: white;
	font-family: "BebasNeue";
}

#events .container #calendar-large .fc-view-container .fc-view {
	background-color: white;
}

#contact {
	background-color: #222222;
}

#contact .form-group {
	color: white;
	font-family: "OverpassBold";
	font-weight: bold;
	/* margin-bottom: 0px; */
}

footer {
	background-color: #0f0f0f;
	color: #757575;
	text-align: center;
}

footer a {
	background-color: #0f0f0f;
	font-size: 36px;
}

footer p {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 15px;
	font-family: "OverpassBold";
	font-weight: bold;
}
